.exercises__card {
    margin-top: 10px;
    background-color: white;
    border: 1px solid #DBDBDB;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.exercises__card__left {
    padding: 5px 10px;
}
.exercises__card__name {
    font-size: 10px;
    font-weight: 700;
}
.exercises__card__text {
    font-size: 8px;
}
.exercises__card__right {
    position: relative;
    padding: 5px 10px;
    font-size: 10px;
}
.exercises__card__difficulty {
    display: flex;
}
.exercises__card__time {
    position: absolute;
    bottom: 5px;
    text-align: right;
    display: flex;
}
.difficulty__name {
   width: 40px;
   margin-left: 5px;
}
.time__name {
    margin-left: 5px;
}

.time__icon {
}
.difficulty__ok {}


/* opened variant: */


.exercises__card__opened {
    margin-top: 10px;
    background-color: white;
    border: 1px solid #DBDBDB;
    border-radius: 10px;
    padding: 10px;
}
.exercises__card__opened_top {
    display: flex;
}
.exercises__card__opened_name {
    font-size: 10px;
    font-weight: 700;
}
.exercises__card__opened_difficulty {
    display: flex;
    margin-left: 5px;
    margin-top: 3px;
}
.difficulty__opened_name {
    font-size: 8px;
}
.exercises__card_opened__time {
    display: flex;
    margin-left: 5px;
    margin-top: 3px;
}
.time__opened_name {
    font-size: 8px;
    width: 30px;
}
.difficulty__opened_icon {
    margin: 7px 2px 0 2px;
}
.time_opened__icon {
    margin: 7px 5px 0 2px;
}

.exercises__expand {
    padding: 0 5px 0 5px;
}
.exercises_expand_icon {
    margin-top: 10px;
    transform: scale(1,-1);
}
.exercises_expand_icon:hover {
    cursor: pointer;
}
