.login__page {
    display: flex;
    justify-content: center;
    margin-top: 30vh;
}

.border__page {
    background-color: white;
    border: 1px #DBDBDB solid;
    border-radius: 15px;
    width: 250px;
    height: 311px;
}

.header__login {
    color: #606060;
    font-size: 24px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 80px;
}

#up_inp {
    margin-bottom: 12px;
}

#down_inp {
    margin-bottom: 12px;
}

#sub_links {
    display: flex;
    padding: 10px 0 20px 0;
}

#sign_up_a {
    text-align: right;
    width: 204px;
    color: #7E7E7E;
    font-size: 11px;
    text-decoration: underline;
}

#login__button {
    display: flex;
    justify-content: center;
}

.button_login {
    margin-bottom: 10px;

    padding: 10px;
    width: 200px;

    font-size: 10px;
    font-weight: 1000;

    border-radius: 40px;
    outline: none;
    border: 0px;
    background-color: #4F5FEB;
    color: white;
}
.button_login:hover {
    background-color: #3844a9;
    color: white;
}
.input__login {
    margin-left: 20px;
    margin-bottom: 10px;
}