.doc__page {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.doc__page__container {
    width: 364px;
    margin-left: 60px;
}

.docs__page__buttons {
    display: flex;
    justify-content: right;
}

.docs__page__add_button {
    padding: 5px 10px;
    font-size: 10px;
    background-color: #4F5FEB;
    color: white;
    border-radius: 40px;
    outline: none;
    border: 0px;
    font-weight: 1000;
    margin-bottom: 10px;
}

.docs__page__add_button:hover {
    background-color: #3e4ab8;
    cursor: pointer;
}

.input__filename {
    margin-bottom: 10px;
}

.doc_add_button {
    padding: 5px 10px;
    font-size: 10px;
    background-color: #4F5FEB;
    color: white;
    border-radius: 40px;
    outline: none;
    border: 0px;
    font-weight: 1000;
	width: 100%;
	margin-top: 10px
}

.doc_add_button:hover {
    background-color: #3e4ab8;
    cursor: pointer;
}
