.login__page_reg {
    display: flex;
    justify-content: center;
    margin-top: 30vh;
}

.border__page_reg {
    background-color: white;
    border: 1px #DBDBDB solid;
    border-radius: 15px;
    width: 250px;
    height: 311px;
}

.header__reg {
    color: #606060;
    font-size: 24px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 80px;
}

#up_inp_reg {
    margin-bottom: 12px;
}

#down_inp_reg {
    margin-bottom: 12px;
}

#sub_links_reg {
    display: flex;
    padding: 10px 0 20px 0;
}

#sign_up_a_reg {
    text-align: right;
    width: 204px;
    color: #7E7E7E;
    font-size: 10px;
    text-decoration: underline;
}

#inputs_reg {
    margin-bottom: 15px;
}

#login__button_reg {
    display: flex;
    justify-content: center;
}

.button_register {
    padding: 10px;
    width: 200px;

    font-size: 10px;
    font-weight: 1000;

    border-radius: 40px;
    outline: none;
    border: 0px;
    background-color: #4F5FEB;
    color: white;
}
.button_register:hover {
    background-color: #3f4cbf;
}
.input__reg {
    margin-left: 20px;
    margin-bottom: 10px;
}